 ICON_AA Icon C:\CAVO27\IMAGES\Home2.ico
 ICON_COMPTES Icon C:\CAVO27\IMAGES\Write6.ico
 ICON_DEPENSE Icon C:\CAVO27\IMAGES\Write2.ico
 ICON_NEW Icon C:\CAVO27\IMAGES\New1.ico
 ICON_RECETTE Icon C:\CAVO27\IMAGES\Money1.ico
