
#include "..\Dlg About.vh"
HelpAbout DIALOGEX  36, 34, 246, 82
STYLE	DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU
CAPTION	"About FabImgView"
FONT	8, "MS Shell Dlg"
BEGIN
	CONTROL	"ImgViewIcon", HELPABOUT_FIXEDICON1, "Static", SS_ICON|WS_CHILD, 10, 11, 27, 24, WS_EX_STATICEDGE
	CONTROL	"Image Viewer Application", HELPABOUT_FIXEDTEXT1, "Static", SS_NOPREFIX|SS_LEFTNOWORDWRAP|WS_CHILD, 50, 11, 184, 12
	CONTROL	"Build with VO Version 2.7", HELPABOUT_FIXEDTEXT2, "Static", SS_NOPREFIX|SS_LEFTNOWORDWRAP|WS_CHILD, 50, 27, 186, 12
	CONTROL	"OK", HELPABOUT_PUSHBUTTON1, "Button", BS_DEFPUSHBUTTON|WS_TABSTOP|WS_CHILD, 98, 62, 53, 15
END


