
#include "..\Open Dialog.vh"
TestDlg DIALOGEX  18, 17, 94, 125
STYLE	DS_CONTROL|WS_CHILD|WS_CLIPSIBLINGS
FONT	8, "MS Sans Serif"
BEGIN
	CONTROL	"", TESTDLG_STC32, "Static", WS_CHILD, 0, 0, 8, 125
	CONTROL	"Preview", TESTDLG_PREVIEW, "Button", BS_AUTOCHECKBOX|WS_TABSTOP|WS_CHILD, 8, 110, 80, 11
	CONTROL	"Fixed Text", TESTDLG_PICTURE, "Static", WS_CHILD|WS_BORDER, 8, 20, 80, 86
END


